<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <title>Research Krr</title>
  <script src="https://kit.fontawesome.com/84580da7a1.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="navbar" id="myNavbar" >
  <a href="#" class="active" style="color: black;">Research <span style="color: #524C42;">Krr</span></a>
  <div class="aside">
  <a href="/#all_food">Home</a>
  <a href="/about">About Us</a>
  <a href="/jobs">Contact Us</a>
  <a href="/customer/orders">Order</a>
  <% if(user) { %>
        <form id="logout" action="/logout" method="POST">
            <a onclick="document.getElementById('logout').submit()" href="#">Logout</a>
        </form>
    <% } else { %>
   <a href="/register">Register</a>
   <a href="/login" style="border: 2px solid black; border-radius: 50px;">Login</a>
    <% } %>
    <a href="/cart" class="px-4 py-2 rounded-full flex items-center cart">
      <span id="cartCounter"
          class="text-black font-bold pr-2"><%= session.cart ? session.cart.totalQty : '' %></span>
      <img src="/img/cart-black.png" alt="" class="cart_icon">
  </a>
</div>
  <a href="#" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<%- body %>
<footer class="footer">
  <div class="footer-left col-md-4 col-sm-6">
    <p class="about">
      <span style="color: black;"> About the company</span> Our team prepares research papers which are completely plagiarism free and conference level papers and reports are also prepared at very reasonable prices.
    </p>
    <div class="icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-google-plus"></i></a>
      <a href="https://www.instagram.com/research_karr?igsh=MTdsY3Z6MjR0N2YyaA%3D%3D&utm_source=qr
      " target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
  <div class="footer-center col-md-4 col-sm-6">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span> Chandigarh University</span> Chandigarh, India</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p> (+91) 7696540009</p>
    </div>
    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="#"> hkpanesar01@gmail.com</a></p>
    </div>
  </div>
  <div class="footer-right col-md-4 col-sm-6">
    <img src="/img/logo.png" style="width: 30%;">
    <p class="menu">
      <a href="/"> Home</a> |
      <a href="/about"> About</a> |
      <a href="/jobs"> Contact Us</a> |
      <a href="/customer/orders"> Track Orders</a> 
    </p>
    <p class="nam"> Researchkrr &copy; 2024</p>
  </div>
</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/app.js"></script>

<script>
function myFunction() {
  var x = document.getElementById("myNavbar");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
}
</script>

</body>
</html>
